<link rel="stylesheet" href="/css/chatroom.css" type="text/css">

<div class="chatroom">
    <div class="chatbox">
        <div class="chatbox-item">
            <div id="chatbox-sidebar">
                <div class="space"></div>
                <div class="chatbox-rooms">
                    <h4>Rooms</h4>
                    <p>Room1</p>
                    <p>Room2</p>
                </div>
                <div class="chatbox-users">
                    <h4>Users</h4>
                    <p>Divyalok Jaiswal</p>
                    <p>Divyalok Jaiswal</p>
                    <p>Divyalok Jaiswal</p>
                    <p>Divyalok Jaiswal</p>
                    <p>Divyalok Jaiswal</p>
                    <p>Divyalok Jaiswal</p>
                </div>
            </div>
            <div class="chatbox-content">
                <div class="chatbox-header">
                    <div id="chatbox-hamburger">
                        <div id="hb-1"></div>
                        <div id="hb-2"></div>
                        <div id="hb-3"></div>
                    </div>
                    <p class="font-koho chatbox-header-text">
                        ChitChat
                    </p>
                </div>
                <div class="message-box">

                </div>
                <div class="message-input-box">

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chatroom.js" type="text/javascript"></script>
