<link rel="stylesheet" href="/css/home.css" type="text/css">

<div class="home-header font-koho">
    <h1>Welcome!</h1>
</div>
<br>
<div class="home-content font-notosans">
    <div class="home-content-box">
        <p>Get started here: &nbsp; <button class="link-button"><a href="/signup">Sign Up</a></button></p>
    </div>
</div>
