<!DOCTYPE html>

<html>
    <head>
        <title>
            Practice
        </title>
        <meta charset="UTF-8">
        <link href="/css/main.css" rel="stylesheet" type="text/css">
        <link href="/css/footer.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1> Starting the project. </h1>
        <%- include('./partials/_footer'); %>
    </body>
</html>
