<div>
    <% if(locals.user) { %>
        <p>You have logged in: <%= user.name %></p>
    <% } else { %>
        <p>What the hell happened!</p>
    <% } %>
</div>

<button style="display: inline-block;">
    <a href='/logout'>logout</a>
</button>