.founduser-div {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.found-user-box {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.found-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    padding: 2px 4px 2px 0;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.found-user-img {
    overflow: hidden;
}

.found-user-img > img {
    height: 79px;
    width: 79px;
    object-fit: cover; 
}

.found-user-name {
    font-size: 23px;
}

.request-button-icon {
    margin: 0 2px 0 2px;
    cursor: pointer;
    width: 30px;
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
    transition: 200ms;
    background-color: rgb(207, 204, 204);
}

.request-button-icon > i {
    display: none;
}

.request-button-icon:hover {
    background-color: rgb(180, 178, 178);
}

@media screen and (max-width: 1000px) {
    .found-user-box {
        width: 75%;
    }   
}

@media screen and (max-width: 900px) {
    .found-user-box {
        width: 75%;
    }

    .request-button-text {
        display: none;
    }

    .request-button-icon > i {
        display: inline-block;
    }
}

@media screen and (max-width: 600px) {
    .found-user-box {
        width: 85%;
    }
}

@media screen and (max-width: 500px) {
    .found-user-box {
        width: 95%;
    }
}