.sign-in-header {
    position: absolute;
    font-size: 30px;
    text-align: center;
    background-color: rgb(87, 85, 85);
    width: 100%;
}

.sign-in-header a {
    color: white;
}

.sign-in-header > h3 {
    margin: 10px 0 10px 0;
}

.sign-in-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sign-in-box {
    position: absolute;
    width: 400px;
    background-color:rgb(248, 172, 172);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 2px 1px grey;
}

.sign-in-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.form-field {
    width: 100%;
    margin: 20px 10px 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.form-header {
    text-align: center;
    justify-content: center;
}

.form-bottom {
    padding: 5px;
}

.form-field input {
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
}

.form-field-button {
    justify-content: center;
    text-align: center;
}

.form-field-button button {
    padding: 10px 20px 10px 20px;
    background-color: white;
    border: 1px solid salmon;
    border-radius: 10px;
}

.form-field-button button:hover {
    transition: 250ms;
    cursor: pointer;
    background-color:rgb(138, 54, 15);
    color: white;
}
